<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>device</key>
	<string>/dev/tty.usbserial-XXXXXXXX</string>
	<key>host</key>
	<string>localhost</string>
	<key>port</key>
	<string>8176</string>
	<key>serverRoot</key>
	<string>/home/control</string>
	<key>useRestfulApi</key>
	<true/>
</dict>
</plist>
